body{
    font-family: 'Montserrat', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    padding: 15px 35px;
}
.nav-title{
 color: #181818;
 font-size: 45px;
 font-weight: 800;
 line-height: normal;
}
.text-primary{
    color: #FD6E0A;
}

nav > ul {
    display: flex;
    align-items: center;
   
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
}
/* header related style */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.bannar{
    padding:30px 30px 0px 150px ;
    display: flex;
    align-items: center;
}
.bannar-greetion{
font-size: 45px;
margin-bottom: 0;
}
.profile-picture{
    width: 500px;
}
.bannar-title{
font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
}
.bannar-container{
    max-width: 500px;
}

/* main section style */

/* main section style */

/* about section style */

.section-title{
    color: #181818;
        text-align: center;
       
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
       
}
.about{
    padding: 130px;
    border-radius: 10px;
    background-color:#d6caca;
    margin-top: 50px;
}
.section-discription{
        color:#181818;
        text-align: center;
       
        font-size: 18px;
        
        font-weight: 400;
        line-height: 30px;
}
/* about section style */
